<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>trang index</title>
    <link rel="stylesheet" href="index.css" type="text/css">
</head>
<body>


    <bootstrap-date-input data-date-picker="activated">1231</bootstrap-date-input>
    <div id="blog-posts-events-demo">
        <div :style="{ fontSize: postFontSize + 'em' }">
          <blog-post
            v-for="post in posts"
            :key="post.id"
            :post="post"
            @enlarge-text="postFontSize += $event"
            @ensmall-text="postFontSize -= $event"
          ></blog-post>
        </div>
      </div>

    <navi-link url="/profile">your profile</navi-link>

    <div id="tp">

        <input ref="input">
        
        <hr>
        <blog-post v-bind="post"></blog-post>
        <blog-post
            :id="post.id"
            :title="post.title"
        ></blog-post>
        <button-counter></button-counter>
        <button-counter></button-counter>
        <blog-post></blog-post>
        <blog-post title="cai 1"></blog-post>
        <blog-post title="cai 2"></blog-post>
        <blog-post title="cai 3"></blog-post>
        <blog-post
            v-for="post in posts"
            :key="post.id"
            :title="post.title"
        >
        </blog-post>

        <blog-post-1 post-title="hello"></blog-post-1>

        <!-- <blog-post-1 :tilte="post.title"></blog-post-1> -->

        <blog-post favorited></blog-post>


    </div>

    <div id='model'>
        <input type="radio" id="com-chien-toi" value="Cơm chiên tỏi" v-model="checked">
        <label for="com-chien-toi">Cơm chiên tỏi</label><br>
        <input type="radio" id="dot-bi-xao-toi" value="Đọt bí xào tỏi" v-model="checked">
        <label for="dot-bi-xao-toi">Đọt bí xào tỏi</label><br>
        <input type="radio" id="canh-rau-rung" value="Canh rau rừng" v-model="checked">
        <label for="canh-rau-rung">Canh rau rừng</label>
        <br>
        <span>Món đã chọn: {{ checked }}</span>
      </div>

    <input @keyup.13="submit">
    <input @keyup.enter="submit">

    <a @click.stop="doThis">1</a>
    
    <form @submit.prevent="onSubmit">2</form>

    <a @click.stop.prevent="doThat">3</a>

    <form @submit.prevent>4</form>

    <div @click.capture="doThis">1223</div>

    <div @click.self="doThat">4567</div>

    <a @click.once="donateKidney"></a>

    <div @scroll.passive="onScroll">89101112</div>

    <div id="example-3">
        <button @click="say('Konica')">Konica</button>
        <button @click="say('VietNam')">Viet Nam</button>
        <button @click="warn('Chua submit duoc form.', $event)">
            Submit
        </button>
    </div>

    <div id="example-2">
        <button @click="greet">hello</button>
    </div>

    <div id="example-1">
        <button @click="counter +=1">Dem cuu</button>
        <p>
            {{ counter }} con cuu.
        </p>
    </div>
    
    <h1 v-if="ok">moi viec on ca</h1>
    <h1 v-else>co gi do sai sai</h1>

    <template v-if="ok">
        <h1>Anh chang chan lon</h1>
    </template>

    <template v-if="ok">
        <h1>Anh chàng chăn lợn</h1>
        <p>Ơ này, Augustin thân mến ơi</p>
        <p>Mọi việc đều như ý, như ý, như ý</p>
    </template>

    <div v-if="Math.random() > 0.5">
        Tai
    </div>
    <div v-else>
        Xiu
    </div>

    <div v-if="type === 'A'">A</div>
    <div v-else-if="type === 'B'">B</div>
    <div v-else-if="type === 'C'">C</div>
    <div v-else-if="type === 'D'">D</div>
    <div v-else>Chiến Sĩ không thể nhớ nổi</div>

   <template v-if="loginType === 'usename'">
        <label>usename</label>
        <input placeholder="nhap usename">
    </template>
   <template v-else>
        <label>email</label>
        <input placeholder="nhap email">
    </template>

    <h1 v-show="ok">xin chao</h1>










    <div id="app">
        {{ message }}
    </div>

    <div id="app-2">
        <span v-bind:title="message">
            re chuot vao
        </span>
    </div>

    <div id="app-3">
        <span v-if="seen">an hien ne</span>
    </div>

    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>



    </div>

    <div id="app-5">
        <p>
            {{ message }}
        </p>
        <button v-on:click="nut">nut bam</button>
    </div>

    <div id="app-6">
        <p>
            {{message}}
        </p>
        <input v-model="message">
    </div>

    <!-- khac -->
    <ol>
        <p>123456</p>
        <!-- vi du -->
        <todo-item></todo-item>
    </ol>

    <div id="app-7">
        <p>nhung thu ho mua: </p>
        <ol>
            <todo-item
                v-for="item in items"
                v-bind:todo="item"
                v-bind:key="item.id"
            >
            </todo-item>
        </ol>
    </div>

    <hr>
    <!-- class -->
    <div id="app-test">

        <p>app test</p>
        <div class="static"
            :class="{ active: isActive, 'text-danger': hasError }"
        >
            <p>test class</p>
        </div>

        <div :class="classObject">
            <p>
                class object
            </p> 
        </div>

        <div :class="classObject2">
            <p>
                class object 2
            </p> 
        </div>

        <div :class="[{ active: isActive }, errorClass]">
            <p>
                array class
            </p> 
        </div>
        
        <my-component class="baz qux"></my-component>

        <my-component v-for="item in items" :key="item.id"></my-component>

        <my-component :class="{ active: isActive }"></my-component>
  
        <div :style="{ color: activeColor, fontSize: fontSize + 'px' }">
            <p>
                style 1
            </p>
        </div>

        <div :style="styleObject">
            <p>
                style object
            </p>
        </div>

        <div :style="{ display: ['-webkit-box', '-ms-flexbox', 'flex'] }">
            <p>
                display
            </p>
        </div>

        <li v-for="n in evenNumbers">{{ n }}</li>

        <li v-for="n in even(numbers)">{{ n }}</li>

        <div>
            <span v-for="n in 10">{{ n }}</span>
        </div>

        <ul>
            <template v-for="item in items">
              <li>{{ item.name }}</li>
              <li class="divider"></li>
            </template>
        </ul>

    </div>


    <div id="todo-list-example">
        <input
          v-model="newTodoText"
          v-on:keyup.enter="addNewTodo"
          placeholder="Thêm việc cần làm"
        >
        <ul>
          <li
            is="todo-item"
            v-for="(todo, index) in todos"
            v-bind:key="todo.id"
            v-bind:title="todo.title"
            v-on:remove="todos.splice(index, 1)"
          ></li>
        </ul>
      </div>




</body>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<!-- <script src="../Vue/vue.min.js"></script> -->
<script src="index.js"></script>
<script>




</script>

</html>
